.parent-home-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 20px;
}
.activity-container {
    margin-left: 50px;
}
.logo-section {
    display: flex;
    align-items: center;
}
.img{
    width: 50px;
    height: 50px;
}
.activates {
    display: gi;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.details-container {
    background: #d1d1d1;
    padding: 20px;
}
.heading{
    color: crimson;
}